$container-sidlines: 20px;

@mixin containerLockWidth($queryParam) {
  max-width: #{$queryParam};
  position: relative;
  outline: solid 1px red;
  @include md__down {
    padding: 0 $container-sidlines;
  }
}
